.movie {
    max-width: 240px;
    min-width: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie__image {
    height: 315px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 10px;
}

.movie__info {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.movie__title {
    margin-bottom: 4px;
    color: var(--main-dark-color);
}

.movie__year {
    color: var(--subtext-color);
}

.movie__rating {
    color: var(--rating-color);
}