.search {
    width: 400px;
    display: flex;
    border-radius: 60px;
    padding: 10px 20px;
    background-color: white;
}

.search__input {
    flex-grow: 1;
    color: var(--main-dark-color);
}

.search__input::placeholder {
    color: var(--subtext-color);
}

.search__submit {
    display: flex;
    cursor: pointer;
    background-color: transparent;
}
